/* Estilos Gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #2E8B57; /* Verde Mar */
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header div {
    display: flex;
    gap: 10px;
}

header input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    font-size: 1em;
}

header button {
    padding: 10px 20px;
    background-color: #3CB371; /* Verde Médio */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #208c4e;
}

/* Conteúdo Principal e Cards */
main {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /* padding: 20px; */ /* Removido para a imagem ocupar o topo */
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%; /* Faz a imagem ocupar toda a largura do card */
    height: 180px; /* Define uma altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem cubra a área sem distorcer */
    border-radius: 8px 8px 0 0; /* Arredonda os cantos superiores, combinando com o card */
    /* margin-bottom: 15px; */ /* Não é mais necessário com o novo container */
}

.card h2 {
    color: #2E8B57;
    margin-top: 0;
}

.card p {
    flex-grow: 1; /* Faz o parágrafo ocupar o espaço disponível */
}

.card a {
    background-color: #3CB371;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #2E8B57;
}

/* Estilos para as Tags */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}

.tag {
    background-color: #e0e0e0;
    color: #555;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.8em;
    font-weight: 600;
}

/* Rodapé */
footer {
    background-color: #2c3e50; /* Azul Escuro */
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content h3 {
    margin-top: 0;
    color: #3CB371;
}

.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #3CB371;
}